@tailwind base;
@tailwind components;
@tailwind utilities;

.css-eg0mwd-MuiSlider-thumb {
  position: absolute;
  width: 55px !important;
  height: 55px !important;
}

.css-14pt78w-MuiSlider-rail {
  background-color: white !important;
  opacity: 1 !important;
}
