@tailwind base;
@tailwind components;
@tailwind utilities;

.sub-menu-show {
  transform: translateY(0);
  opacity: 1;
}

.sub-menu-hide {
  transform: translateY(-10px);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.submenu {
  display: none;
}

li:hover .submenu {
  display: block;
}
